In [1]:
import pandas as pd
import re
from urllib.parse import urlparse

In [2]:
# Read the Sales Data file
df1 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\salesData.csv',  encoding='ISO-8859-1') 

# View the columns to check if it works
print(df1.columns)

#drop all columns except title
df1 = df1.drop(columns=['year', 'release_date', 'genre', 'production_budget',
       'Unnamed: 8', 'opening_weekend', 'theatre_count', 'avg run per theatre',
       'runtime', 'keywords', 'creative_type', 'url'])


# Function to clean the title text
def clean_text(text):
    if pd.isna(text):  # Check if the text is NaN
        return ''  # Return an empty string or handle NaN as needed
    # Convert text to lowercase
    text = text.lower()
    # Remove special characters using regex (keeping only alphanumeric characters and spaces)
    text = re.sub(r'[^a-z0-9\s]', ' ', text)
    return text

# Apply the cleaning function to the 'title' column
df1['title'] = df1['title'].apply(clean_text)

df1.head()

# Count non-null values in the 'title' column
non_null_count = df1['title'].count()
print(f"Number of non-null rows in 'title' column: {non_null_count}")
# Count total rows in the DataFrame
total_rows = df1.shape[0]
print(f"Total number of rows in the DataFrame: {total_rows}")

# search_title = '808'
# result_df1 = df1.loc[df1['title'].str.contains(search_title, case=False, na=False)]

print(df1)

Index(['year', 'release_date', 'title', 'genre', 'international_box_office',
       'domestic_box_office', 'worldwide_box_office', 'production_budget',
       'Unnamed: 8', 'opening_weekend', 'theatre_count', 'avg run per theatre',
       'runtime', 'keywords', 'creative_type', 'url'],
      dtype='object')
Number of non-null rows in 'title' column: 30612
Total number of rows in the DataFrame: 30612
                                      title  international_box_office  \
0                              bakha satang                   76576.0
1                                 antitrust                 6900000.0
2                                  santitos                       NaN
3                       frank mcklusky c i                        NaN
4                        a walk to remember                 4833792.0
...                                     ...                       ...
30607                jokbeoldu sinmun iyagi                   12356.0
30608                      my salinger year                  914119.0
30609                     escort vehicle 36                  240000.0
30610                               the dry                16987526.0
30611  posledniy bogatyr  koren         zla                33396899.0

       domestic_box_office  worldwide_box_office
0                      NaN               76576.0
1               10965209.0            17865209.0
2                 378562.0                   NaN
3                      NaN                   NaN
4               41227069.0            46060861.0
...                    ...                   ...
30607                  NaN               12356.0
30608              54730.0              968849.0
30609                  NaN              240000.0
30610             364397.0            17351923.0
30611                  NaN            33396899.0

[30612 rows x 4 columns]

In [3]:

# Read the metaClean43Brightspace.csv file
df2 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\metaClean43Brightspace.csv',  encoding='ISO-8859-1')  # If the delimiter is different, replace '\t' with ',' or ' '

# View the columns to check if it works
print(df2.columns)

#drop all columns and leave the title column
df2 = df2.drop(columns=['url', 'studio', 'rating', 'runtime', 'cast', 'director',
       'genre', 'summary', 'awards', 'metascore', 'userscore', 'RelDate'])



# Function to clean the title text
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    # Remove special characters using regex (keeping only alphanumeric characters and spaces)
    text = re.sub(r'[^a-z0-9\s]', '', text)
    return text

# Apply the cleaning function to the 'title' column
df2['title'] = df2['title'].apply(clean_text)

df2.head()

# Count non-null values in the 'title' column
non_null_count = df2['title'].count()
print(f"Number of non-null rows in 'title' column: {non_null_count}")
# Count total rows in the DataFrame
total_rows = df2.shape[0]
print(f"Total number of rows in the DataFrame: {total_rows}")

# search_title = 'brother'
# result_df2 = df2.loc[df['title'].str.contains(search_title, case=False, na=False)]


# print(result_df2)

Index(['url', 'title', 'studio', 'rating', 'runtime', 'cast', 'director',
       'genre', 'summary', 'awards', 'metascore', 'userscore', 'RelDate'],
      dtype='object')
Number of non-null rows in 'title' column: 11364
Total number of rows in the DataFrame: 11364

In [4]:
# Read the ExpertReviewsClean43LIWC.csv file
df3 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\ExpertReviewsClean43LIWC.csv',  encoding='ISO-8859-1')  

# View the columns to check if the file was read successfully 
print(df3.columns)

#drop columns
df3 = df3.drop(columns=['idvscore', 'reviewer', 'dateP', 'Rev', 'WC', 'Analytic',
       'Clout', 'Authentic', 'Tone', 'WPS', 'Sixltr', 'Dic', 'function',
       'pronoun', 'ppron', 'i', 'we', 'you', 'shehe', 'they', 'ipron',
       'article', 'prep', 'auxverb', 'adverb', 'conj', 'negate', 'verb', 'adj',
       'compare', 'interrog', 'number', 'quant', 'affect', 'posemo', 'negemo',
       'anx', 'anger', 'sad', 'social', 'family', 'friend', 'female', 'male',
       'cogproc', 'insight', 'cause', 'discrep', 'tentat', 'certain', 'differ',
       'percept', 'see', 'hear', 'feel', 'bio', 'body', 'health', 'sexual',
       'ingest', 'drives', 'affiliation', 'achieve', 'power', 'reward', 'risk',
       'focuspast', 'focuspresent', 'focusfuture', 'relativ', 'motion',
       'space', 'time', 'work', 'leisure', 'home', 'money', 'relig', 'death',
       'informal', 'swear', 'netspeak', 'assent', 'nonflu', 'filler',
       'AllPunc', 'Period', 'Comma', 'Colon', 'SemiC', 'QMark', 'Exclam',
       'Dash', 'Quote', 'Apostro', 'Parenth', 'OtherP'])

df3.head()

Index(['url', 'idvscore', 'reviewer', 'dateP', 'Rev', 'WC', 'Analytic',
       'Clout', 'Authentic', 'Tone', 'WPS', 'Sixltr', 'Dic', 'function',
       'pronoun', 'ppron', 'i', 'we', 'you', 'shehe', 'they', 'ipron',
       'article', 'prep', 'auxverb', 'adverb', 'conj', 'negate', 'verb', 'adj',
       'compare', 'interrog', 'number', 'quant', 'affect', 'posemo', 'negemo',
       'anx', 'anger', 'sad', 'social', 'family', 'friend', 'female', 'male',
       'cogproc', 'insight', 'cause', 'discrep', 'tentat', 'certain', 'differ',
       'percept', 'see', 'hear', 'feel', 'bio', 'body', 'health', 'sexual',
       'ingest', 'drives', 'affiliation', 'achieve', 'power', 'reward', 'risk',
       'focuspast', 'focuspresent', 'focusfuture', 'relativ', 'motion',
       'space', 'time', 'work', 'leisure', 'home', 'money', 'relig', 'death',
       'informal', 'swear', 'netspeak', 'assent', 'nonflu', 'filler',
       'AllPunc', 'Period', 'Comma', 'Colon', 'SemiC', 'QMark', 'Exclam',
       'Dash', 'Quote', 'Apostro', 'Parenth', 'OtherP'],
      dtype='object')

                                        url
0  https://www.metacritic.com/movie/bronson
1  https://www.metacritic.com/movie/bronson
2  https://www.metacritic.com/movie/bronson
3  https://www.metacritic.com/movie/bronson
4  https://www.metacritic.com/movie/bronson

In [5]:
# Load the file with a different encoding (e.g., 'ISO-8859-1' or 'latin1')
df4 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\UserReviewsClean43LIWC.csv',  encoding='ISO-8859-1')  

# View the columns to check if the file was read successfully 

print(df4.columns)

#drop columns
df4 = df4.drop(columns=['idvscore', 'reviewer', 'dateP', 'Rev', 'thumbsUp', 'thumbsTot',
       'WC', 'Analytic', 'Clout', 'Authentic', 'Tone', 'WPS', 'Sixltr', 'Dic',
       'function', 'pronoun', 'ppron', 'i', 'we', 'you', 'shehe', 'they',
       'ipron', 'article', 'prep', 'auxverb', 'adverb', 'conj', 'negate',
       'verb', 'adj', 'compare', 'interrog', 'number', 'quant', 'affect',
       'posemo', 'negemo', 'anx', 'anger', 'sad', 'social', 'family', 'friend',
       'female', 'male', 'cogproc', 'insight', 'cause', 'discrep', 'tentat',
       'certain', 'differ', 'percept', 'see', 'hear', 'feel', 'bio', 'body',
       'health', 'sexual', 'ingest', 'drives', 'affiliation', 'achieve',
       'power', 'reward', 'risk', 'focuspast', 'focuspresent', 'focusfuture',
       'relativ', 'motion', 'space', 'time', 'work', 'leisure', 'home',
       'money', 'relig', 'death', 'informal', 'swear', 'netspeak', 'assent',
       'nonflu', 'filler', 'AllPunc', 'Period', 'Comma', 'Colon', 'SemiC',
       'QMark', 'Exclam', 'Dash', 'Quote', 'Apostro', 'Parenth', 'OtherP'])

df4.head()

C:\Users\pc\AppData\Local\Temp\ipykernel_16176\3941476314.py:2: DtypeWarning: Columns (1,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\UserReviewsClean43LIWC.csv',  encoding='ISO-8859-1')

Index(['url', 'idvscore', 'reviewer', 'dateP', 'Rev', 'thumbsUp', 'thumbsTot',
       'WC', 'Analytic', 'Clout', 'Authentic', 'Tone', 'WPS', 'Sixltr', 'Dic',
       'function', 'pronoun', 'ppron', 'i', 'we', 'you', 'shehe', 'they',
       'ipron', 'article', 'prep', 'auxverb', 'adverb', 'conj', 'negate',
       'verb', 'adj', 'compare', 'interrog', 'number', 'quant', 'affect',
       'posemo', 'negemo', 'anx', 'anger', 'sad', 'social', 'family', 'friend',
       'female', 'male', 'cogproc', 'insight', 'cause', 'discrep', 'tentat',
       'certain', 'differ', 'percept', 'see', 'hear', 'feel', 'bio', 'body',
       'health', 'sexual', 'ingest', 'drives', 'affiliation', 'achieve',
       'power', 'reward', 'risk', 'focuspast', 'focuspresent', 'focusfuture',
       'relativ', 'motion', 'space', 'time', 'work', 'leisure', 'home',
       'money', 'relig', 'death', 'informal', 'swear', 'netspeak', 'assent',
       'nonflu', 'filler', 'AllPunc', 'Period', 'Comma', 'Colon', 'SemiC',
       'QMark', 'Exclam', 'Dash', 'Quote', 'Apostro', 'Parenth', 'OtherP'],
      dtype='object')

                                        url
0  https://www.metacritic.com/movie/bronson
1  https://www.metacritic.com/movie/bronson
2  https://www.metacritic.com/movie/bronson
3  https://www.metacritic.com/movie/bronson
4  https://www.metacritic.com/movie/bronson

In [6]:
# Load the file with a different encoding (e.g., 'ISO-8859-1' or 'latin1')
df41 = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\UserReviewsURL.csv',  encoding='ISO-8859-1')  
df41.head()

def extract_last_part(url):
    path = urlparse(url).path
    title = path.split('/')[-1]
    return title

# Apply the function to the 'URL' column to create a new 'title' column
df41['title'] = df41['url'].apply(extract_last_part)

# Function to clean the title text
def clean_text(text):
    if pd.isna(text):  # Check if the text is NaN
        return ''  # Return an empty string or handle NaN as needed
     #Convert text to lowercase
    text = text.lower()
    # Remove special characters using regex (keeping only alphanumeric characters and spaces)
    text = re.sub(r'[^a-z0-9\s]', ' ', text)
    return text


# Drop duplicates in the 'title' column to show each title just once
userReviews_unique_titles = df41['title'].drop_duplicates().reset_index(drop=True).apply(clean_text)

# Count non-null values in the 'title' column
non_null_count = df41['title'].count()
print(f"Number of non-null rows in 'title' column: {non_null_count}")

# Count total rows in the DataFrame
total_rows = df41.shape[0]
print(f"Total number of rows in the DataFrame: {total_rows}")

#print(unique_titles)
userReviews_unique_titles.head()

Number of non-null rows in 'title' column: 319662
Total number of rows in the DataFrame: 319662

0                            bronson
1                           disgrace
2                    a screaming man
3                     lovers of hate
4    phil ochs there but for fortune
Name: title, dtype: object

In [7]:
# Paths to the CSV files
allMovieTitlesDataFrames = [
    'C:\\Users\\pc\\Downloads\\Test\\salesDataMovieTitles.csv',
    'C:\\Users\\pc\\Downloads\\Test\\metaCleanMovieTitles.csv',
    'C:\\Users\\pc\\Downloads\\Test\\expertReviewsUniqueMovieTitles.csv',
    'C:\\Users\\pc\\Downloads\\Test\\userReviewsUniqueMovieTitles.csv'
]

# List to store DataFrames
dataframes = []

# Read each CSV file, rename the column to 'TITLE', and store them in the list
for file_path in allMovieTitlesDataFrames:
    df = pd.read_csv(file_path, encoding='ISO-8859-1')
    df.columns = ['TITLE']  # Ensure the column is named 'TITLE'
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# 2. Strip any leading/trailing whitespace
combined_df['TITLE'] = combined_df['TITLE'].str.lower().str.strip()

# Remove duplicate rows based on the 'TITLE' column
unique_df = combined_df.drop_duplicates(subset=['TITLE']).reset_index(drop=True)

# Assign a unique ID to each row
unique_df['ID'] = range(1, len(unique_df) + 1)

# Print the resulting DataFrame
print(unique_df)

#print(combined_df)

                        TITLE     ID
0                bakha satang      1
1                   antitrust      2
2                    santitos      3
3          frank mcklusky c i      4
4          a walk to remember      5
...                       ...    ...
34416         metropolis 2002  34417
34417          lovely amazing  34418
34418              siddhartha  34419
34419  rocco and his brothers  34420
34420       y tu mama tambien  34421

[34421 rows x 2 columns]

In [8]:
def search_title(unique_df, search_term):
    # Convert the 'TITLE' column to lowercase, replacing NaNs with an empty string
    unique_df['TITLE'] = unique_df['TITLE'].fillna('').str.lower()
    
    # Convert the search term to lowercase
    search_term = search_term.lower()
    
    # Filter the DataFrame to find rows where 'TITLE' contains the search term
    result_df = unique_df[unique_df['TITLE'].str.contains(search_term)]
    
    # Check if the result is empty
    if result_df.empty:
        print(f"No results found for '{search_term}'")
    else:
        print(f"Results found for '{search_term}':\n", result_df)

# Example usage to search for a specific Movie_title
search_term ='19 m'  # You can replace 'Bronson' with the title you're looking for
search_title(unique_df, search_term)

Results found for '19 m':
                                      TITLE     ID
24426  andre rieus 2019 maastricht concert  24427
25490                               19 mar  25491

the above code gets all the movie titles from all four tables and removes duplicates so that the Movie_ID can be assigned to every movie. Lastly, a search function was created to test the Table to and make sure no duplicates are found.

In [9]:
# Read the Sales Data file
df_BoxOffice = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\BoxOfficeWithUniqueID.csv',  encoding='ISO-8859-1') 
df_MovieIDTable = pd.read_csv('allMoviesWithUniqueID.csv', sep=None, engine='python', encoding='ISO-8859-1')
df_MovieIDTable = df_MovieIDTable.rename(columns={"ID": "Movie_ID"})
print(df_BoxOffice.columns)
print(df_MovieIDTable.columns)

Index(['Movie_ID', 'worldwide_box_office'], dtype='object')
Index(['TITLE', 'Movie_ID'], dtype='object')

In [10]:
# Merge the two dataframes on 'Movie_ID' column
df_NewMovieTable = pd.merge(df_MovieIDTable, df_BoxOffice[['Movie_ID', 'worldwide_box_office']], on='Movie_ID', how='left')

# Display the merged dataframe
df_NewMovieTable.head()

                TITLE  Movie_ID  worldwide_box_office
0        bakha satang         1               76576.0
1           antitrust         2            17865209.0
2            santitos         3                   NaN
3  frank mcklusky c i         4                   NaN
4  a walk to remember         5            46060861.0

In [11]:
import psycopg2
from psycopg2 import sql

In [12]:
#import psycopg2

try:
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        dbname='DMGroupAssignment',
        user='postgres',
        password='Okpanachi',
        host='localhost',
        port='5432'
    )

    cursor = conn.cursor()

    # Create the Movie table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS MovieTable (
        Movie_ID INTEGER PRIMARY KEY,
        TITLE VARCHAR(255),
        worldwide_box_office DECIMAL(15, 2)
    );
    """
    cursor.execute(create_table_query)
    conn.commit()

    # Insert data into the MovieTable
    insert_query = """
    INSERT INTO MovieTable (Movie_ID, TITLE, worldwide_box_office)
    VALUES (%s, %s, %s)
    ON CONFLICT (Movie_ID) DO UPDATE
    SET TITLE = EXCLUDED.TITLE,
        worldwide_box_office = EXCLUDED.worldwide_box_office;
    """

    # Loop through the DataFrame and execute the insert query for each row
    for index, row in df_NewMovieTable.iterrows():
        cursor.execute(insert_query, (row['Movie_ID'], row['TITLE'], row['worldwide_box_office']))

    # Commit the transaction to save changes to the database
    conn.commit()
    

except Exception as error:
    print(f"Error: {error}")

finally:
    # Ensure the cursor and connection are closed
    if cursor:
        cursor.close()
    if conn:
        conn.close()

In [13]:
# Read the Sales Data file
df_SalesInfo = pd.read_csv('C:\\Users\\pc\\Downloads\\Test\\salesData.csv',  encoding='ISO-8859-1') 
df_MovieTable = pd.read_csv('allMoviesWithUniqueID.csv', sep=None, engine='python', encoding='ISO-8859-1')
df_MovieTable = df_MovieTable.rename(columns={"ID": "Movie_ID"})

# View the columns to check if it works
#print(df1.columns)

#drop all columns except title
df_SalesInfo = df_SalesInfo.drop(columns=['year', 'release_date', 'genre',
       'Unnamed: 8', 'opening_weekend', 'theatre_count', 'avg run per theatre',
       'runtime', 'keywords', 'creative_type', 'url'])

def clean_text(text):
    if pd.isna(text):  # Check if the text is NaN
        return ''  # Return an empty string or handle NaN as needed
    # Convert text to lowercase
    text = text.lower()
    text = re.sub(r'[^a-z0-9\s]', ' ', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text


# Apply the cleaning function to the 'title' column
df_SalesInfo['title'] = df_SalesInfo['title'].apply(clean_text)

df_SalesInfo['normalized_title'] = df_SalesInfo['title'].apply(clean_text)
df_MovieTable['normalized_title'] = df_MovieTable['TITLE'].apply(clean_text)

df_SalesInfo = df_SalesInfo.merge(df_MovieTable[['normalized_title', 'Movie_ID']], 
                                             on='normalized_title', how='left')


df_SalesInfo = df_SalesInfo.drop_duplicates()

print(df_SalesInfo.columns)

df_BudgetTable = df_SalesInfo[['Movie_ID', 'production_budget']]
print(df_BudgetTable.head())

Index(['title', 'international_box_office', 'domestic_box_office',
       'worldwide_box_office', 'production_budget', 'normalized_title',
       'Movie_ID'],
      dtype='object')
   Movie_ID  production_budget
0         1                NaN
1         2         30000000.0
2         3                NaN
3         4                NaN
4         5         11000000.0

In [14]:
unmatched_Sales = df_SalesInfo[df_SalesInfo['Movie_ID'].isna()]

print("Unmatched rows in df_SalesInfo:")
print(unmatched_Sales[['title', 'normalized_title']])

#merged_df.to_csv('merged.csv', index=False, encoding='ISO-8859-1')

Unmatched rows in df_SalesInfo:
Empty DataFrame
Columns: [title, normalized_title]
Index: []

In [15]:
df_BudgetTable = df_SalesInfo[['Movie_ID', 'production_budget']]
print(df_BudgetTable.head())

   Movie_ID  production_budget
0         1                NaN
1         2         30000000.0
2         3                NaN
3         4                NaN
4         5         11000000.0

In [16]:
try:
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        dbname='DMGroupAssignment',
        user='postgres',
        password='Okpanachi',
        host='localhost',
        port='5432'
    )

    cursor = conn.cursor()

    # Create the ProductionBudget table with an additional 'title' column
    create_table_query = """
    CREATE TABLE IF NOT EXISTS ProductionBudget (
        Movie_ID INTEGER PRIMARY KEY,
        production_budget DECIMAL(15, 2)
    );
    """
    cursor.execute(create_table_query)
    conn.commit()

    # Insert data into the ProductionBudget table with an upsert mechanism
    insert_query = """
    INSERT INTO ProductionBudget (Movie_ID, production_budget)
    VALUES (%s, %s)
    ON CONFLICT (Movie_ID) DO UPDATE
    SET production_budget = EXCLUDED.production_budget;
    """

    # Loop through the DataFrame and execute the insert query for each row
    for index, row in df_BudgetTable.iterrows():
        cursor.execute(insert_query, (row['Movie_ID'], row['production_budget']))

    # Commit the transaction to save changes to the database
    conn.commit()

except Exception as error:
    print(f"Error: {error}")

finally:
    # Ensure the cursor and connection are closed
    if cursor:
        cursor.close()
    if conn:
        conn.close()

In [17]:
# Read the Sales Data file
df_SalesData = pd.read_csv('salesData.csv',  encoding='ISO-8859-1') 
df_NMovieTable = pd.read_csv('NewMovieTable.csv', sep=None, engine='python', encoding='ISO-8859-1')

# View the columns to check if it works
#print(df1.columns)

# Drop unnecessary columns from SalesData
df_SalesData = df_SalesData.drop(columns=['year', 'international_box_office', 'domestic_box_office', 'worldwide_box_office', 'release_date', 'Unnamed: 8', 'opening_weekend', 'theatre_count', 'avg run per theatre',
       'runtime', 'production_budget', 'keywords', 'creative_type', 'url'])

def clean_text(text):
    if pd.isna(text):  # Check if the text is NaN
        return ''  # Return an empty string or handle NaN as needed
    # Convert text to lowercase
    text = text.lower()
    text = re.sub(r'[^a-z0-9\s]', ' ', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text


# Apply the cleaning function to the 'title' column
df_SalesData['title'] = df_SalesData['title'].apply(clean_text)

df_SalesData['normalized_title'] = df_SalesData['title'].apply(clean_text)
df_NMovieTable['normalized_title'] = df_NMovieTable['TITLE'].apply(clean_text)

df_SalesData = df_SalesData.merge(df_NMovieTable[['normalized_title', 'Movie_ID']], 
                                             on='normalized_title', how='left')


df_SalesData = df_SalesData.drop_duplicates()



# Handle NaN values in the 'genre' column by excluding them from the ID assignment
# We'll only assign IDs to rows where 'genre' is not NaN
df_SalesData['genre_id'] = (
    df_SalesData['genre']
    .where(df_SalesData['genre'].notna())  # Keep NaN as NaN
    .groupby(df_SalesData['genre'])
    .ngroup()  # Assign unique integers to each genre group starting from 0
    .astype('Int64')  # Ensures that NaN is retained and non-NaN values are integers
)

# Convert non-NaN values to string and pad with leading zeros, leave NaN as it is
df_SalesData['genre_id'] = (
    df_SalesData['genre_id']
    .apply(lambda x: str(int(x)).zfill(2) if pd.notna(x) else x)  # Format with leading zeros, no prefix
)

# Print the columns and the final DataFrame
print(df_SalesData[['title', 'genre', 'genre_id']].head())

                title              genre genre_id
0        bakha satang              Drama       06
1           antitrust  Thriller/Suspense       13
2            santitos                NaN      NaN
3  frank mcklusky c i                NaN      NaN
4  a walk to remember              Drama       06

In [18]:
Genre_Sales = df_SalesData[df_SalesData['Movie_ID'].isna()]

print("Unmatched rows in df_SalesData:")
print(Genre_Sales[['title', 'normalized_title']])

Unmatched rows in df_SalesData:
Empty DataFrame
Columns: [title, normalized_title]
Index: []

In [19]:
df_Genre_Sales = df_SalesData[['Movie_ID', 'genre_id', 'genre']]
print(df_Genre_Sales.head())

   Movie_ID genre_id              genre
0         1       06              Drama
1         2       13  Thriller/Suspense
2         3      NaN                NaN
3         4      NaN                NaN
4         5       06              Drama

In [21]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname='DMGroupAssignment',
    user='postgres',
    password='Okpanachi',
    host='localhost',
    port='5432'
)

# Create a cursor object
cursor = conn.cursor()

# Update the table creation query with BIGINT for genre_ID and Movie_ID
create_table_query = """
CREATE TABLE IF NOT EXISTS Genre (
    genre_ID TEXT,
    genre TEXT NOT NULL,
    Movie_ID BIGINT PRIMARY KEY
);
"""

# Execute the table creation query
cursor.execute(create_table_query)

# Commit the changes
conn.commit()

# Format genre_id with a leading zero
df_Genre_Sales.loc[:, 'genre_id'] = df_Genre_Sales['genre_id'].apply(
    lambda x: f"{int(x):02}" if pd.notna(x) else x
)

# Define the insert query with conflict handling on Movie_ID
insert_query = """
INSERT INTO Genre (genre_ID, genre, Movie_ID)
VALUES (%s, %s, %s)
ON CONFLICT (Movie_ID) DO UPDATE
SET genre = EXCLUDED.genre,
    genre_ID = EXCLUDED.genre_ID;
"""

# Insert data into the table
for index, row in df_Genre_Sales.iterrows():
    try:
        cursor.execute(insert_query, (row['genre_id'], row['genre'], row['Movie_ID']))
    except psycopg2.IntegrityError as e:
        print(f"Error inserting row {index}: {e}")
        conn.rollback()  # Rollback on error
    except psycopg2.DataError as e:
        print(f"Data error inserting row {index}: {e}")
        conn.rollback()  # Rollback on error
    else:
        conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()